
<div class="mt-4">
    <h3>Tạo Post</h3>
    <form method="POST" action="/post/new">
    <div class="form-group">
        <label for="name">Title </label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
   <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="form-group">
        <label for="image">image</label>
        <input type="text" class="form-control" id="image" name="image">
    </div>
    <button type="submit" class="btn btn-primary">OK</button>

</form>

</div>